<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div>
  <img src="../static/Logo.png" class="rounded mx-auto d-block" alt="Logo">
</div>
<%- include('./partials/footer.ejs') %>