<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>
<div class="row align-items-center">
  <div class="col-6">
      <h1>Welcome to Terve app!</h1>
      <p>Terve is the web app to track your lifestyle data, such as: </p>
      <ul>
          <li>Sleep duration</li>
          <li>Sleep quality</li>
          <li>Time spent on soports and exercise</li>
          <li>Time spent studying</li>
          <li>Regularity and quality of eating</li>
          <li>Generic mood</li>
      </ul>
      <p>Report your porgress in the morning or evening and check your weekly or monthly sumary.</p>
  </div>
  <div class="col-6">
    <img src="../static/Logo.png" class="rounded mx-auto d-block" alt="Logo">
  </div>
</div>
<%- include('./partials/footer.ejs') %>